:root {
  /* SPS CUSTOM */
  /* Hero */
  --sps-twe-font-heading: 'Sarasa Term SC Nerd', 'JetBrainsMono Nerd Font Mono', system-ui, sans-serif;
  --sps-font-body: 'Sarasa Term SC Nerd', 'JetBrainsMono Nerd Font Mono', system-ui, sans-serif;
  --color-text: #000000;
  --color-text-dim: #94A3B8;
  --hero-subtitle-font-size: clamp(1.25rem, 3vw, 1.75rem);
  --hero-subtitle-line-height: 1.6;
  --hero-description-font-size: clamp(1rem, 1.5vw, 1.125rem);
}
