---
import Social from "@components/common/Social.astro";
---

<footer class="glass container lg:my-4 lg:rounded-lg intersect:animate-fadeUp opacity-0">
  <div class="row py-2 lg:py-0 items-center flex-wrap-reverse">
    <div class="text-center lg:col-6 lg:mb-0 lg:text-left">
      <ul>
        <li class="m-2 inline-block">
          <!--
          <a href="/terms">&copy; Jane Doe 2025</a>
          -->
          <!-- SPS CUSTOM -->
          <p style="margin: 0; display: flex; justify-content: center; align-items: center; gap: 8px;">
            Powered by
            <a href="https://astro.build/" target="_blank" rel="noopener noreferrer" style="display: flex;">
              <img src="https://img.shields.io/badge/Astro-FF5D01?style=for-the-badge&logo=astro&logoColor=white" alt="Astro">
            </a>
            &amp;
            <a href="https://github.com/astrogon/astrogon" target="_blank" rel="noopener noreferrer" style="display: flex;">
              <img src="https://img.shields.io/badge/Astrogon-00AAAA?style=for-the-badge&logo=github&logoColor=white" alt="Astrogon">
            </a>
          </p>
        </li>
      </ul>
    </div>
    <div class="text-center lg:col-6 lg:my-0 flex items-center justify-center lg:justify-end">
      <!--
      <Social
        links={{
          facebook: "https://www.facebook.com/",
          github: "https://www.github.com/",
          instagram: "https://www.instagram.com/",
          linkedIn: "https://www.linkedin.com/",
        }}
      />
      -->
      <!-- SPS CUSTOM -->
      <Social
        links={{
            github: "https://github.com/SPSZerone",
        }}
      />
    </div>
  </div>
</footer>
